In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [1]:
import pandas as pd
import os
from IPython.display import display

# caminho da pasta de dados
dados_path = "../dados"

# definir os arquvos
deter_file = os.path.join(dados_path, "DETER_BASE_DE_ALARMES.csv")
prodes_file = os.path.join(dados_path, "PRODES_BASE_DE_DESMATAMENTO_POR_ANOS.csv")

# ler os CSVs
deter = pd.read_csv(deter_file, sep=",", encoding="utf-8-sig")
prodes = pd.read_csv(prodes_file, sep=";", encoding="utf-8-sig", decimal=",")

display(deter.head())
display(prodes.head())

        year  month   area  uf         className  numPol
0  2015/2016      8   8.82  AC    CORTE_SELETIVO       3
1  2015/2016      8   9.71  AC    CS_DESORDENADO       1
2  2015/2016      8   4.11  AC        DEGRADACAO      18
3  2015/2016      8  25.12  AC   DESMATAMENTO_CR     261
4  2015/2016      8   1.81  AC  DESMATAMENTO_VEG      16

   year       areakm municipality  geocode_ibge state
0  2007  1022.479234   Acrelândia       1200013  Acre
1  2008    23.667087   Acrelândia       1200013  Acre
2  2009    12.938233   Acrelândia       1200013  Acre
3  2010    11.332078   Acrelândia       1200013  Acre
4  2011    15.938638   Acrelândia       1200013  Acre